<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:html="http://www.w3.org/TR/REC-html40">
<Worksheet ss:Name="Sheet1">
	<Table>
		<Row>
			<Cell><Data ss:Type="String">Name</Data></Cell>
			<Cell><Data ss:Type="String">Password</Data></Cell>
			<Cell><Data ss:Type="String">Total_time</Data></Cell>
			<Cell><Data ss:Type="String">Taken_time</Data></Cell>
			<Cell><Data ss:Type="String">Balance</Data></Cell>
			<Cell><Data ss:Type="String">VIP_balance</Data></Cell>
			<Cell><Data ss:Type="String">Taken_VIP_time</Data></Cell>
			<Cell><Data ss:Type="String">Last_class</Data></Cell>
			<Cell><Data ss:Type="String">Valid_date</Data></Cell>
			 
		</Row>
		<% @classtimes.each do |product| %>
		<Row>
			<Cell><Data ss:Type="String"><%= product.name %></Data></Cell>
			<Cell><Data ss:Type="String"><%= product.password %></Data></Cell>
			<Cell><Data ss:Type="String"><%= product.totalTime %></Data></Cell>
			<Cell><Data ss:Type="String"><%= product.takenTime %></Data></Cell>
			<Cell><Data ss:Type="String"><%= product.balance %></Data></Cell>
			<Cell><Data ss:Type="String"><%= product.VIPbalance %></Data></Cell>
			<Cell><Data ss:Type="String"><%= product.takenVIPTime %></Data></Cell>
			<Cell><Data ss:Type="String"><%= product.lastClass %></Data></Cell>
			<Cell><Data ss:Type="String"><%= product.validDate %></Data></Cell>
		</Row>
		<% end %>
	</Table>
</Worksheet>
</Workbook>