<h1>Listing classtimes</h1>
<form action="backSisley" method="get">
<button class="btn parkBtn" id="backSisley">返回Sisley专属页面</button>
</form>

<form action="searchClasstime" method="get">
	<input type="text" name="name" class="insty" required></input>
	<button id="searchBtn" class="btn parkBtn">查询学生</button>
</form>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Password</th>
      <th>Totaltime</th>
      <th>Takentime</th>
      <th>Balance</th>
      <th>Vipbalance</th>
      <th>Givenviptime</th>
      <th>Takenviptime</th>
      <th>Lastclass</th>
      <th>Validdate</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @classtimes.each do |classtime| %>
    <tr>
      <td><%= classtime.name %></td>
      <td><%= classtime.password %></td>
      <td><%= classtime.totalTime %></td>
      <td><%= classtime.takenTime %></td>
      <td><%= classtime.balance %></td>
      <td><%= classtime.VIPbalance %></td>
      <td><%= classtime.givenVIPtime %></td>
      <td><%= classtime.takenVIPTime %></td>
      <td><%= classtime.lastClass %></td>
      <td><%= classtime.validDate %></td>
      <td><%= link_to 'Show', classtime %></td>
      <td><%= link_to 'Edit', edit_classtime_path(classtime) %></td>
      <td><%= link_to 'Destroy', classtime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Classtime', new_classtime_path %>
