<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :month %><br />
    <%= f.text_field :month %>
  </div>
  <div class="field">
    <%= f.label :day %><br />
    <%= f.text_field :day %>
  </div>
  <div class="field">
    <%= f.label :startTime %><br />
    <%= f.text_field :startTime%>
  </div>
  <div class="field">
    <%= f.label :endTime %><br />
   <%= f.text_field :endTime%>
  </div>
  <div class="field">
    <%= f.label :people %><br />
    <%= f.text_field :people %>
  </div>
  <div class="field">
    <%= f.label :theme %><br />
    <%= f.text_field :theme %>
  </div>
  <div class="field">
    <%= f.label :preparation %><br />
    <%= f.text_field :preparation %>
  </div>
  <div class="field">
    <%= f.label :homework %><br />
    <%= f.text_field :homework %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
