<h1>Listing topics</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>People</th>
      <th>Theme</th>
      <th>Preparation</th>
      <th>Homework</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
    <tr>
      <td><%= topic.date %></td>
      <td><%= topic.time %></td>
      <td><%= topic.people %></td>
      <td><%= topic.theme %></td>
      <td><%= topic.preparation %></td>
      <td><%= topic.homework %></td>
      <td><%= link_to 'Show', topic %></td>
      <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
      <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Topic', new_topic_path %>
