<h1>Listing topics</h1>
<form action="backSisley" method="get">
<button class="btn parkBtn" id="backSisley">返回Sisley专属页面</button>
</form>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Month</th>
      <th>Day</th>
      <th>Starttime</th>
      <th>Endtime</th>
      <th>People</th>
      <th>Theme</th>
      <th>Preparation</th>
      <th>Homework</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
    <tr>
      <td><%= topic.year %></td>
      <td><%= topic.month %></td>
      <td><%= topic.day %></td>
      <td><%= topic.startTime %></td>
      <td><%= topic.endTime %></td>
      <td><%= topic.people %></td>
      <td><%= topic.theme %></td>
      <td><%= topic.preparation %></td>
      <td><%= topic.homework %></td>
      <td><%= link_to 'Show', topic %></td>
      <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
      <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Topic', new_topic_path %>
