<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @topic.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @topic.month %>
</p>

<p>
  <strong>Day:</strong>
  <%= @topic.day %>
</p>

<p>
  <strong>Time:</strong>
  <%= @topic.time %>
</p>

<p>
  <strong>People:</strong>
  <%= @topic.people %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @topic.theme %>
</p>

<p>
  <strong>Preparation:</strong>
  <%= @topic.preparation %>
</p>

<p>
  <strong>Homework:</strong>
  <%= @topic.homework %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
