<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @user.birth %>
</p>

<p>
  <strong>Cellnum:</strong>
  <%= @user.cellNum %>
</p>

<p>
  <strong>Homenum:</strong>
  <%= @user.homeNum %>
</p>

<p>
  <strong>Club:</strong>
  <%= @user.club %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>From:</strong>
  <%= @user.from %>
</p>

<p>
  <strong>Qq:</strong>
  <%= @user.qq %>
</p>

<p>
  <strong>Msn:</strong>
  <%= @user.MSN %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @user.condition %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
