<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<style type="text/css">
		body {
			background: #e6e6e7;
			margin:0px;
			padding:0px;
			font-family: Futura, Segoe UI, Helvetica;
			color: #ADADAD;
			text-align:center;
		}
		.container {
			background:url("/assets/thbg.png");
			width:100%;
			height:800px;
		}
		#header {}
		#pagebody {}
		#sidebar {}
		#mainbody {}
		#footer {}
		#thwlcome {
			display: block;
			width: 300px;
			padding-top: 20px;
			padding-left: 50px;
			text-align: left;
			font-size: 40px;
			font-weight: bold;
		}
		#news {
			background: #fff;
			width: 762px;
			height: 92px;
			margin-left: 70px;
			text-align: left;
			float: left;
			clear:right;

		}
		#newstitle {
			margin-left: 10px;
			margin-top: 10px;
			text-align: left;
			font-size: 18px;
			font-weight: bold;
		}
		#inarea {
			margin-top: 5px;
			margin-left: 10px;
			width: 740px;
			height: 50px;
		}
		#subbtn {
			background: url("/assets/subbtn1.png");
			width: 72px;
			height: 26px;
			border:none;
			border-radius: 2px;
			margin-top: 3px;
			margin-right: 10px;
			float: right;
			color:white;
			font-size: 15px;
			font-weight: 900px;
		}
		#leftbar {
			background: url("/assets/thlogo.png");
			width: 762px;
			height: 396px;
			margin-left: 70px;
			margin-top: 10px;
			float: left;
		}
		#rightbar {
			background: url("/assets/crudbg.png");
			width: 400px;
			min-height: 499px;
			height: auto;
			margin-left: 860px;
			color:#8c8c8c;

		}

		#crud {
			margin-left: 20px;
			margin-right: 20px;
		}
	</style>
</head>
<body>
	<div class="container">	
		<br/>
		<span id="thwlcome">Sisley 专属页面</span>
		<br/>
		

		<div id="news">
			<form action="broadcast" method="get">
			<span id="newstitle">发布消息</span>
			<button class="btn parkBtn" id="subbtn">发布</button>
			
			<input type="text" name="broadcast" id="inarea"></input>		
		</form>
		</div>
		<div id="leftbar"></div>

				<div id="rightbar">
					<div id="crud">
						<br /><br /><br />
		<%= link_to "编辑学生信息", 
		users_path(:p => "success"), 
		:remote=> false, :method=> :get %></br></br>
		  
		<%= link_to "编辑学生账户信息", 
		classtimes_path(:p => "success"), 
		:remote=> false, :method=> :get %></br></br>
		  
		<%= link_to "编辑本周课程", 
		topics_path(:p => "success"), 
		:remote=> false, :method=> :get %></br></br>
		
		<button class="btn parkBtn" id="handleData">数据库操作</button>
		<div id="database" style="display:none">
			<%= form_for :import_csv, :url => {:action => :loadUser}, :html => {:multipart => true} do |f| %>
			<%= f.file_field :csv %>
			<%= f.submit '上传学生信息'%>
			<%end%>
			<%= form_for :import_csv, :url => {:action => :loadClassTime}, :html => {:multipart => true} do |f| %>
			<%= f.file_field :csv %>
			<%= f.submit '上传学生账户信息'%>
			<%end%>
			<%= form_for :import_csv, :url => {:action => :loadTopic}, :html => {:multipart => true} do |f| %>
			<%= f.file_field :csv %>
			<%= f.submit '上传本周课程信息'%>
			<%end%>
		
			<p>
				<%= link_to "下载学生信息", users_path(format: "xls") %>
			</br>
				<%= link_to "下载学生账户信息", classtimes_path(format: "xls") %>
			</br>
				<%= link_to "下载本周课程信息", topics_path(format: "xls") %>
			</p>
			<p>
				<%= link_to "删除学生信息", { :action => "resetUser"}, :confirm => 'Are you sure?'%>
			</br>
				<%= link_to "删除学生账户信息", { :action => "resetClasstime"}, :confirm => 'Are you sure?'%>
			</br>
				<%= link_to "删除本周课程信息", { :action => "resetTopic"}, :confirm => 'Are you sure?'%>
			</br>
			<%= @message%>
			</p>
		</div>
	</div>
	</div>


	<script>
	$('#handleData').click(function() {
		$('#database').toggle();
	});
	</script>
</div>
</body>

</html>
